// BUTTON STYLES
.button {
  background-color: @button-bg-default;
  padding: .5em;
  text-align: center;
  margin-bottom: 1em;
  display: block;
}
.button-group {
  .clearfix();
}
.button-primary {
  background-color: @brand-primary;
}
